*{
    margin: 0;
    padding: 0;
    backface-visibility: hidden;
}


  .card1-card:hover .button {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    opacity: 1;
    animation-name: movecard;
    animation-duration: 1s;
    animation-timing-function: ease;
    width: 100%; }
  .card1-card:hover {
    transform: scale(1.05) translateY(-10px); }

.body{
    height: 100vh;
    width: 100vw;
    background-image: url(background-balance-business-commerce-583846.jpg);
    background-size: cover;
}
#part{
    height: 100%;
    background-image: url(clay-banks-u27Rrbs9Dwc-unsplash.jpg);
    background-size: cover;
}
.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100%;
    height: 5rem;
    width: 100%;
    background-color:#8b8e9fe7;
    z-index: 1000; }
.nav-lists{
    float: right;
    margin-right: 5rem;
    font-family: 'Nunito Sans';
}
.nav-list{
    float: right;
    padding-top: 2rem;
    list-style: none;
}
.nav-link, .nav-link:link, .nav-link:visited{
    text-decoration: none;
    margin-right: 1rem;
    transition: all .4s;
    color: white;
    font-weight: 700;
    width: 3rem;
    padding: .7rem 2rem .7rem 2rem;
    cursor: pointer;
    font-size: .9rem;
    border-radius: 1.5rem;
    border: 2px solid #9c9da3;

}
.nav-link:hover{
    background-color: white;
    color: #9c9da3;

}

.heading{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10em;
    text-align: center;
}
.row{
    width: 80%;
    height: 10rem;
    margin: 0 auto;
    margin-top: 6rem;
    


}
.row1{
    width: 80%;
    margin: 0 auto;
    margin-top: 5.5rem;
}

.col1{
    width: 100%;
    height: 4rem;
    margin-top: .5rem;
    background-color: #1e314cc9;
    border-radius: .1rem; 
    vertical-align: middle;
    border: 2px solid black;
    border-radius: 8rem;
    font-size: 1.25rem;
    color: white;
    font-family: 'Sawarabi Gothic';
    display: inline-block;
    box-shadow: 0 0 1rem white;
}
.students{
    padding-top: 1.1rem;
}
a{
    text-align: center;
}
#sub{
	justify-content: center;
	align-items: center;
    background: #010615;
    background-size: cover;
}
.col{
    transition: all .4rem;
    float: left;
	position: relative;
	justify-content: center;
	align-items: center;
    width: 16rem;
    height: 12rem;
    margin-left: 6rem;
    background-color: black;
    float: left;
    color: white;
    margin-top: 5rem;
    transform: translate(5rem, 2rem);
}
.col:before{
	content: '';
	position: absolute;
	top: -3px;
	left: -3px;
	right: -3px;
	bottom: -3px;
	background: #fff;
    z-index: -1;
    overflow: hidden;
}
.col:after{
	content: '';
	position: absolute;
	top: -3px;
    left: -3px;
	right: -3px;
	bottom: -3px;
	background: #fff;
	z-index: -3;
    filter: blur(20px);
    overflow: hidden;
}
.col:nth-child(4):before,
.col:nth-child(4):after{
	background: linear-gradient(235deg, #89ff00, #010615, #00bcd4);
}
.col:nth-child(2):before,
.col:nth-child(2):after{
	background: linear-gradient(235deg, #ff005e, #010615, #fbff00);
}
.col:nth-child(3):before,
.col:nth-child(3):after{
    background: linear-gradient(235deg, #772aff, #010615, #2196F3);
}
.col:nth-child(5):before,
.col:nth-child(5):after{
	background: linear-gradient(235deg, #89ff00, #010615, #00bcd4);
}
.col:nth-child(6):before,
.col:nth-child(6):after{
	background: linear-gradient(235deg, #ff005e, #010615, #fbff00);
}
.col:nth-child(7):before,
.col:nth-child(7):after{
    background: linear-gradient(235deg, #772aff, #010615, #2196F3);
}
.col:hover{
	background-color: blueviolet;
}
.col .glass{
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	display: block;
	background: rgba(255, 255, 255, 0.1);
	pointer-events: none;
}

.list{
    font-family: 'Nunito Sans';
    text-align: center;
    font-size: 1rem;
    color: white;
    float: left;
    padding-right: .4rem;
    padding-top: -2rem;
    cursor: pointer;
}
.imagea{
    height: 85%;
    width: 100%;
    object-fit: fill;
    padding-bottom: 2rem;
    margin-bottom: -2rem;
    transition: all .4rem;
}
.image{
    transition: all .4rem;
}
.add{
    padding-top: 1.5rem;
    text-align: center;
}

.roll{
    float: right;
    margin-right: 30rem;
    cursor: default;
}
.name{
    float: left;
    margin-left: 1rem;
    cursor: default;
}
.delete{
    float: right;
    margin-right: 1rem;
}
.delete-link{
    text-decoration: none;
    text-emphasis: none;
    color: whitesmoke;
    background-color: #1e314cd5;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: .5rem 2rem;
    border-radius: 2rem;
    transition: all .3s;
}
.delete-link:hover{
    background-color: #192a41;
    box-shadow: 0 0 1rem white;
}

.h1{
    font-size: 5rem;
    display: inline-block;
    color: white;
    letter-spacing: .5rem;
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);

    text-shadow:
    0 1px #808d93,
    -1px 0 #cdd2d5,
    -1px 2px #808d93,
    -2px 1px #cdd2d5,
    -2px 3px #808d93,
    -3px 2px #cdd2d5,
    -3px 4px #808d93,
    -4px 3px #cdd2d5,
    -4px 5px #808d93,
    -5px 4px #cdd2d5,
    -5px 6px #808d93,
    -6px 5px #cdd2d5,
    -6px 7px #808d93,
    -7px 6px #cdd2d5,
    -7px 8px #808d93,
    -8px 7px #cdd2d5;

}
.h2{
    font-size: 2.5rem;
    letter-spacing: .2rem;
    color: orangered;
    
    text-shadow:
    0 1px #808d93,
    -1px 0 #cdd2d5,
    -1px 2px #808d93,
    -2px 1px #cdd2d5,
    -2px 3px #808d93,
    -3px 2px #cdd2d5,
    -3px 4px #808d93,
    -4px 3px #cdd2d5;

}
.main-logo{
    height: 4rem;
    margin: .3rem 0 0 4rem;
    background-size: contain;
    overflow: hidden;
    float: left;
}
.iit{
    margin: .6rem 0 0 .25rem;
    padding: .2rem 1rem .5rem 1rem;
    border-radius: .5rem;
    font-size: 2rem;
    font-family: 'Sawarabi Gothic';
    float: left;
    color: white;
    cursor: pointer;
    transition: all .3s;
    border: 2px solid rgba(255, 255, 255, 0);
}
.iit:hover{
    border: 2px solid rgb(255, 255, 255);
    transform: translateX(.1rem);
}
.col:hover  {
    background: linear-gradient(to left, #02e96a, #000000, #db1111);
}
.highlight{
    background-color:#57aaf7;
    color: white;
    cursor: default;
    box-shadow: 0 0 1rem white;
}
.highlight:hover{
    background-color:#57aaf7;
    color: white;
    cursor: default;
    box-shadow: 0 0 1rem white; 
}
.button, .button:link, .button:visited{
    text-decoration: none;
    text-emphasis: none;
    font-family: Sawarabi Gothic;
    color: blanchedalmond;
    background-color: #0ba066;
    margin-top: 2rem;
    padding: 1rem 2.5rem;
    border-radius: .5rem;
    transition: all .5s;
    transform: scale(1);
}
.button:hover{
    color: white;
    background-color: #096d47;
    transform: scale(1.1);
    box-shadow: 0 0 1rem white;
}
/*media queries*/
@media (max-width: 1300px){
    .row{
        width: 90%;
    }
}
@media (max-width: 1150px){
    .row1{
        width: 90%;
    }
    .roll{
        margin-right: 25rem;
    }
    .row{
        width: 98%;
    }
    .col{
        margin-left: 4rem;
        transform: translate(0rem, 2rem);
    }

}
@media (max-width: 1000px){
    .roll{
        margin-right: 20rem;
    }
    .col{
        margin-left: 5rem;
        transform: translate(0rem, 2rem);
        margin-right: 5rem;

    }

}
@media (max-width: 925px){
    .roll{
        margin-right: 15rem;
    }
    .nav-lists{
        margin-right: 2rem;
    }
}
@media (max-width: 900px){
    .main-logo{
        height: 0rem;
        width: 0;
    }
    .iit{
        width: 0;
        display: none;
    }
    .roll{
        margin-right: 10rem;
    }
    .col{
        margin-left: 5rem;
        transform: translate(0rem, 2rem);
        margin-right: 2rem;
    }
}
@media (max-width: 800px){
    .roll{
        margin-right: 5rem;
    }
    .col{
        margin-left: 4rem;
        transform: translate(0rem, 2rem);
        margin-right: 1rem;
    }
}
@media (max-width: 700px){
    .col1{
        width: 100%;
        height: 3rem;
        margin-top: 1rem;
        font-size: 1.1rem;
        box-shadow: 0 0 1rem white;
    }
    .delete{
        margin-right: .5rem;
    }
    .delete-link{
        padding: .2rem 1rem;
        border-radius: 1.5rem;
        transition: all .3s;
    }
    .students{
        padding-top: .7rem;
    }
    .col{
        margin-left: 10.5rem;
        transform: translate(0rem, 2rem);
        margin-right: 0rem;
    }
}
@media (max-width: 550px){
    .roll{
        margin-right: 1rem;
    }
    .nav-lists{
        margin-right: 1rem;
    }
    .nav-list{
        padding-top: 1.7rem;
    }
    .nav-link, .nav-link:link, .nav-link:visited{
        margin-right: 1rem;
        font-weight: 400;
        padding: .5rem 1.2rem .4rem 1.2rem;
        font-size: .8rem;
        border-radius: 1.5rem;
    }
    .col1{
        font-size: 1rem;
    }
    .col{
        margin-left: 5rem;
        transform: translate(0rem, 2rem);
        margin-right: 3rem;
    }
}
@media (max-width: 400px){
    .col{
        margin-left: 2rem;
        transform: translate(0rem, 2rem);
        margin-right: 2rem;
    }
    .nav-link, .nav-link:link, .nav-link:visited{
        margin-right: .5rem;
        font-weight: 400;
        padding: .4rem 1rem .4rem 1rem;
        font-size: .8rem;
        border-radius: 1.5rem;
    }
    .nav-lists{
        margin-right: .5rem;
    }
    .col1{
        width: 100%;
        height: 3rem;
        margin-top: 1rem;
        font-size: .9rem;
        box-shadow: 0 0 1rem white;
    }
    .row1{
        width: 98%;
    }
}
@media (max-width: 350px){
    .col{
        margin-left: 1.5rem;
        transform: translate(0rem, 2rem);
        margin-right: 1.5rem;
    }
    .nav-link, .nav-link:link, .nav-link:visited{
        margin-right: .5rem;
        font-weight: 400;
        padding: .2rem .8rem .2rem .8rem;
        font-size: .8rem;
        border-radius: 1.5rem;
    }
    .nav-lists{
        margin-right: .5rem;
    }
}